blockquote {
    border-left: 2px solid #ddd;
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    color: #aaa;
    font-style: italic;
}

:not(pre) > code {
    font-family: monospace;
    background-color: #eee;
    padding: 3px;
  }

/*  

p[data-slate-node='element']:first-child span[data-slate-string='true'] {
*/

p[data-slate-node='element'] span[data-slate-string='true'] {
    line-height: 2rem;
}

p[data-slate-node='element']:first-child {
    margin-bottom: 0.5rem;
}

p[data-slate-node='element']:not(:first-child) {
    margin-top: 0;
}

.thematic_break {
    border: none;
    height: 2px;
    background-color: steelblue;
}

pre.codeblock {
    font-family: monospace;
    background-color: #eee;
    margin: 0;
    padding: 2px;
    font-size: 0.89rem;
}